<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CyberportEMSConnectionString" connectionString="metadata=res://*/CYModel.csdl|res://*/CYModel.ssdl|res://*/CYModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.99.110;initial catalog=CyberportWMS;persist security info=True;user id=spservice;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>